@import '~@fluentui/react/dist/sass/References.scss';

.quidditchCalendar {
  position: relative;
}

.welcome {
  position: relative;
}



.eventsOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.eventMarker {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  pointer-events: auto;
}